<!DOCTYPE html>

<!-- ng-app: Angular runs the store module when the document loads -->
<html ng-app="gemStore">
  <head>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="./css/style.css"/>
  </head>

  <!-- ng-controller: attach a controller to an HTML element -->
  <body ng-controller="StoreController as store">
    <script type="text/javascript" src="./js/angular.min.js"></script>
    <script type="text/javascript" src="./js/app.js"></script>

    <div class="list-group">
      <!-- ng-repeat: add multiple instances of an HTML element -->
      <!-- Order by "price" descending: -->
      <div class="list-group-item" ng-repeat="product in store.products | orderBy:'-price'">
      
        <!-- ng-hide: hide the HTML element if condition is true -->
        <div ng-hide="product.soldOut">

          <!-- ng-include: includes external HTML files in the element -->
          <!--   Quote from https://docs.angularjs.org/api/ng/directive/ngInclude :
                   "For example, ngInclude won't work for cross-domain requests
                    on all browsers and for file:// access on some browsers."
           -->
          <h3 ng-include="'product-title.html'"></h3>
          
          <div class="img-wrap">

            <!-- ng-src: Use this for img elements -->
            <img ng-src="{{product.images[0].thumb}}"/>
          </div>
          
          
          <!-- ng-show: show the HTML element if condition is true -->
          <button class="btn btn-primary pull-right"
                  ng-show="product.canPurchase">Buy</button>
          <p ng-hide="product.canPurchase"
             class="pull-right">You cannot buy this item.</p>

          <!-- ng-init: initialize variables for the current HTML element -->
          <section ng-controller="PanelController as panel">
            <ul class="nav nav-pills">
            
              <!-- ng-click: Execute expression when clicked -->
              <!--   Create tab variable in controller -->
              <!-- ng-class: Set/unset class of HTML element to the ones in the given object -->
              <!--   Set the class to "active" if it's value is true -->
              <li ng-class="{ active : panel.isTabSelected(1) }">
                <a href ng-click="panel.selectTab(1)">Description</a>
              </li>
              <li ng-class="{ active : panel.isTabSelected(2) }">
                <a href ng-click="panel.selectTab(2)">Specifications</a>
              </li>
              <li ng-class="{ active : panel.isTabSelected(3) }">
                <a href ng-click="panel.selectTab(3)">Reviews</a>
              </li>
            </ul>
            
            <!--  Automatic binding to "tab" variable in the controller -->
            <div class="panel" ng-show="panel.isTabSelected(1)">
              <h4>Description</h4>
              <p>{{product.description}}</p>
            </div>
            
            <div class="panel"
                 ng-show="panel.isTabSelected(2)">
              <h4>Specification</h4>
              <blockquote>Not yet</blockquote>
            </div>
            
            <div class="panel"
                 ng-show="panel.isTabSelected(3)">
              <h4>Reviews</h4>
              
              <blockquote ng-repeat="review in product.reviews">
                <b>Stars : {{review.stars}}</b>
                {{review.body}}
                <cite>-{{review.author}} on {{review.createdOn | date}}</cite>
              </blockquote>
              
              <form name="reviewForm"
                    novalidate
                    ng-controller="ReviewController as reviewController"
                    ng-submit="reviewForm.$valid && reviewController.addReview(product)">
                <blockquote>
                  <!-- review is assumed to be in the controller (i.e. panel) -->
                  <b>Stars : {{reviewController.review.stars}}</b>
                  {{reviewController.review.body}}
                  <cite>-{{reviewController.review.author}}</cite>
                </blockquote>
                <!-- ng-model: binds the form element value to the property -->
                <!--   Bind the value of select to review.stars in the controller -->
                <fieldset class="form-group">
                  <select required
                          class="form-control"
                          ng-model="reviewController.review.stars"
                          ng-options="stars for stars in [5, 4, 3, 2, 1]">
                  </select>
                </fieldset> 
                <fieldset class="form-group">
                  <textarea required
                            class="form-control"
                            placeholder="Write your review here"
                            ng-model="reviewController.review.body"></textarea>
                </fieldset>
                <fieldset class="form-group">
                  <input required
                         class="form-control"
                         type="email" placeholder="john@mail.com"
                         ng-model="reviewController.review.author"/>
                </fieldset>
                <fieldset class="form-group">
                  <input type="submit" value="Submit"
                         class="btn btn-primary pull-right"/>
                </fieldset>
                <div>Reviewform is {{reviewForm.$valid}}</div>
              </form>
              
            </div>

          </section>
          
        </div>
      </div>
    </div>
  </body>
</html>
